@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Mitr", sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tab-bar {
    display: flex;
    align-items: center;
    background-color: #8ab7cc;
    padding: 10px 0;
    justify-content: center;
}

.tab-bar img {
    height: 80px;
    margin-right: auto;
    margin-left: 45%;
}
.back-button {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    font-size: 3em;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    color: white;
    transform: scale(1.1);
}


.container {
    width: 45%;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

h2 {
    text-align: center;
    font-weight: 400; /* ลดความหนาตัวหนังสือ */
    margin-bottom: 20px;
    font-size: 30px;
    color: #000;
}

form label {
    display: block;
    margin-top: 15px; /* ระยะด้านบนของ label */
    margin-bottom: 5px; /* ระยะด้านล่างของ label */
    font-size: 16px; /* ขนาดตัวหนังสือ */
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 20%;
    padding: 15px;
    background-color: #F4CE14;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .tab-button {
    background-color: #F4CE14;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown .tab-button:hover {
    background-color: #F4CE14;
    color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #96B6C5;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: #F4CE14;
    color: white;
}
