@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Mitr", sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-weight: 400; /* ลดความหนาตัวหนังสือ */
}

.tab-bar {
    position: relative; 
    z-index: 10; 
    display: flex;
    align-items: center;
    background-color: #8ab7cc;
    padding: 10px 0;
    justify-content: center;
    font-family: "Mitr", sans-serif;
}

.tab-bar img {
    height: 80px;
    margin-right: auto;
    margin-left: 20px;
}

.tab-link {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 0 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

.tab-link:hover {
    background-color: #ccc;
    border-color: #bbb;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .tab-button {
    background-color: #F4CE14;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown .tab-button:hover {
    background-color: #F4CE14;
    color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #96B6C5;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: #F4CE14;
    color: white;
}


.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    text-align: center;
    color: #000000;
    font-weight: 400; /* ลดความหนาตัวหนังสือ */
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #000000;
}

input[type="date"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: calc(100px - 22px);
    padding: 10px;
    margin: 20px auto 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #3cb93c;
    color: white;
    cursor: pointer;
    display: block;
    text-align: center;
}


.back-button {
    margin-bottom: 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 3em;
}
