@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Mitr", sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-weight: 400; /* ลดความหนาตัวหนังสือ */
}

.tab-bar {
    position: relative; 
    z-index: 10; 
    display: flex;
    align-items: center;
    background-color: #8ab7cc;
    padding: 10px 0;
    justify-content: center;
    font-family: "Mitr", sans-serif;
}

.tab-bar img {
    height: 80px;
    margin-right: auto;
    margin-left: 45%;
}

.back-button {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    font-size: 3em;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    color: white;
    transform: scale(1.1);
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    text-align: center;
    color: #000000;
    font-weight: 400; /* ลดความหนาตัวหนังสือ */
    font-size: 30px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #000000;
}

input[type="date"], input[type="number"] {
    width: calc(100% - 40%);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: calc(100px - 22px);
    padding: 10px;
    margin: 20px auto 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #F4CE14;;
    color: white;
    cursor: pointer;
    display: block;
    text-align: center;
}
button:hover{
    background-color: #45a049;
}


.back-button {
    position: absolute;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 2em;
    margin-left: 36%;
    margin-top: -1%;
    outline: none; 
}

.back-button:focus {
    outline: none; /
}

.back-button:hover {
    color: white;
    transform: scale(1.1);
}
