body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F0E8;
}

.tab-bar {
    display: flex;
    align-items: center;
    background-color: #96B6C5;
    padding: 10px 0;
    justify-content: center;
}

.tab-bar img {
    height: 80px;
    margin-right: auto;
    margin-left: 20px;
}

.tab-link {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 0 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

.tab-link:hover {
    background-color: #ccc;
    border-color: #bbb;
}

.tab-link.login {
    background-color: #F4CE14;
    color: rgb(255, 252, 252);
    border-radius: 10px;
}

.tab-link.register {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}

.tab-link.logout {
    background-color: #F4CE14;
    color: black;
    border-radius: 10px;
}

.tab-link.login:hover,
.tab-link.register:hover {
    background-color: #F4CE14;
    color: white;
}

.tab-link.logout:hover {
    background-color: #F4CE14;
    color: white;
}



/* เพิ่มสไตล์สำหรับ dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .tab-button {
    background-color: #F4CE14;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown .tab-button:hover {
    background-color: #F4CE14;
    color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #96B6C5;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: #F4CE14;
    color: white;
}

h3 {
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 16px;
}

.home-image {
    width: 50%;
    padding: 30px;
    margin-right: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}
/*ทำให้ขยายเเละลดตามหน้าเว็บ*/
@media only screen and (max-width: 991px) {
    .home-image {
        width: 100%;
        margin: 0;
    }

    .tab-bar {
        padding: 2rem;
    }

    .tab-bar img {
        margin: 0 auto 20px;
    }

    .tab-link {
        margin: 5px;
    }

    .dropdown .tab-button,
    .tab-link {
        font-size: 55%;
    }
}


@media only screen and (min-width: 768px) {
    .home-image {
        width: 50%;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .tab-bar {
        justify-content: center;
    }

    .tab-link {
        padding: 10px 20px;
        margin: 0 10px;
    }

    .dropdown .tab-button {
        padding: 10px 20px;
        margin: 0 10px;
    }
}

