@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Mitr", sans-serif;
    background-color: #EEE0C9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tab-bar {
    display: flex;
    align-items: center;
    background-color: #96B6C5;
    padding: 20px 20px;
    justify-content: center;
    height: 70px;
}

.tab-bar img {
    height: 90px;
    margin-left: 50px;
}

.tab-bar h2 {
    margin: 0;
    color: black;
    margin-bottom: 10px;
}

.back-button {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    font-size: 3em;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    color: white;
    transform: scale(1.1);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    background-color: #F1F0E8;
    width: 500px;
    padding: 40px;
    margin-right: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.login-image {
    width: 40%; /* ปรับให้รูปภาพของคุณเต็มขนาด */
    border-radius: 20px; /* กำหนดขอบมน */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* เพิ่มเงาใต้ภาพ */
    margin-bottom: 10px; /* ระยะห่างด้านล่าง */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
}

input[type="submit"] {
    width: 30%;
    padding: 15px;
    background-color: #F4CE14;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #006fb9;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

