@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Mitr", sans-serif;
    background-color: #EEE0C9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    
}

body::before {
    content: "";
    position: absolute;
    top: 80px; /* ระยะห่างจากด้านบนเท่ากับความสูงของแท็บบาร์ */
    left: 0;
    width: 100%;
    height: calc(100% - 40px); /* ความสูงของรูปพื้นหลังลดลงด้วยความสูงของแท็บบาร์ */
    background: url('../../img/หญ้า1.jpg') no-repeat center center fixed; /* เพิ่มรูปภาพพื้นหลัง */
    background-size: cover; /* ทำให้รูปพื้นหลังครอบคลุมพื้นที่ทั้งหมดที่กำหนด */
    background-position: center 70%; /* ปรับตำแหน่งของพื้นหลังลงมาให้เห็นหน้าคนมากขึ้น */
    filter: blur(2px); /* เพิ่มเอฟเฟกต์เบลอ */
    z-index: -1; /* ทำให้พื้นหลังอยู่ข้างหลังเนื้อหา */
}

.tab-bar {
    display: flex;
    align-items: center;
    background-color: #8ab7cc;
    padding: 20px 20px; /* เพิ่ม padding */
    justify-content: center;
    height: 70px; /* กำหนดความสูง */
}

.tab-bar img {
    height: 100px; /* กำหนดความสูงของรูปภาพ */
    margin-left: 50px; /* เพิ่ม margin-left เพื่อขยับรูปไปทางซ้าย */
}


.tab-bar h2 {
    margin: 0;
    color: black;
    margin-bottom: 10px;
}

.back-button {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    font-size: 3em;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    color: white;
    transform: scale(1.1);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    background-color: #f1f0e8cd;
    width: 600px; /* ลดความกว้างของ container */
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-family: "Mitr", sans-serif;
    font-weight: 400; /* ลดความหนาตัวหนังสือ */
}

.login-image {
    width: 40%; /* ปรับให้รูปภาพของคุณเต็มขนาด */
    border-radius: 10px; /* กำหนดขอบมน */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* เพิ่มเงาใต้ภาพ */
    margin-bottom: 2px; /* ระยะห่างด้านล่าง */
}

.form-input {
    width: 90%; /* ปรับความกว้างเป็น 80% ของ container */
    max-width: 500px; /* กำหนดความกว้างสูงสุด */
    padding: 12px;
    margin: 0 auto 10px; /* ช่วยให้ช่องกรอกข้อมูลตั้งตรงกลางและเพิ่มระยะห่างด้านล่าง */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-family: "Mitr", sans-serif;
    display: block; /* ทำให้ช่องกรอกข้อมูลเป็น block element */
}

/* เพิ่ม CSS สำหรับ label */
label {
    display: block;
    margin-left: 40px; /* ขยับข้อความไปทางขวา */
    margin-bottom: 5px; /* เพิ่มระยะห่างด้านล่าง */
    font-family: "Mitr", sans-serif;
}


.submit-button {
    width: 25%; /* ปรับความกว้างของปุ่ม */
    padding: 15px;
    background-color: #F4CE14;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
    font-family: "Mitr", sans-serif;
    font-size: 1em;
}

.submit-button:hover {
    background-color: #006fb9;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
    font-family: "Mitr", sans-serif;
}


.forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-family: "Mitr", sans-serif;
}

.forgot-password a:hover {
    font-family: "Mitr", sans-serif;
}

.register {
    text-align: center;
    margin-top: 10px;
    font-family: "Mitr", sans-serif;
}

.register a:hover {
    font-family: "Mitr", sans-serif;
}

.checkbox {
    position: absolute;
    right: 230px; /* ระยะห่างจากขอบด้านขวา */
    top: 413px; /* ระยะห่างจากขอบด้านบน */
}


